.top__footer
  .top__footer__box
    .top__footer__box__top
      = link_to 'お問い合わせ', class: "link"
      = link_to 'ヘルプ', class: "link"
    .top__footer__box__bottom
      .top__footer__box__bottom__left
        .top__footer__box__bottom__left__nav
          %span 日本
        .top__footer__box__bottom__left__at © 2019 Cross Culture, Inc. All Rights Reserved