// .children_list{
//   display: none;
// }

.top__header__box__under__categories__list:hover{
  text-decoration: none;  
}

.children_list{
  background-color: rgb(255, 252, 252);
  .child_category{
    margin-right: 50px;
    height: 200px;
  }
}
.grand_children_list{
  background-color: rgb(255, 252, 252);
  width: 100%;
  color: #000;
  .grand_child_category{
    margin-right: 50px;
    height: 100%;
  }
}