@mixin thumbs{
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  .swiper-slide{
    width: 20%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
    img{
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}
.swiper-my-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  border-radius: 0;
}

.swiper-container-horizontal > .swiper-my-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  width: 940px;
}
.swiper-container{
  text-align: center;
}
#slider-product{
  width: 650px;
  height: 600px;
  img{
    max-width: 100%;
    width: 100%;
    height: 100% ;
  }
}
#thumbs-product{
  width: 650px;
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  .swiper-slide{
    width: 20%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
    img{
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}

.swiper-my-pagination img {
  box-shadow: none;
  margin: 0;
  vertical-align: bottom;
}
.swiper-my-pagination {
  display: table;
}
.swiper-my-pagination {
  display: table;
  table-layout: fixed;
}
.swiper-my-pagination .swiper-pagination-bullet {
  display: table-cell;
  padding: 2px;
  background: transparent;
  opacity: 1;
}
.swiper-my-pagination .swiper-pagination-bullet-active {
  background: transparent;
  opacity: 0.6;
}
#thumbs1{
  @include thumbs;
}

#thumbs2{
  @include thumbs;
}

#thumbs3{
  @include thumbs;
}

#thumbs4{
  @include thumbs;
}

#thumbs5{
  @include thumbs;
}

#thumbs6{
  @include thumbs;
}

#thumbs-product{
  @include thumbs;
}


// #thumbs.swiper-wrapper{
//   transform: translate3d(376px, 0px, 0px);
//   transition-duration: 0ms;
// }
